.clock {
  padding: unset;
  margin: unset;
  border: 2px solid black;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  position: relative;
}

.min {
  width: 5rem;
  border: 2px solid grey;
  position: absolute;
  transform-origin: top left;
  top: 7.5rem;
  left: 7.5rem;
  right: 7.5rem;
  bottom: 7.5rem;
}

.sec {
  width: 7rem;
  border: 2px solid red;
  position: absolute;
  transform-origin: top left;
  top: 7.5rem;
  left: 7.5rem;
  right: 7.5rem;
  bottom: 7.5rem;
}

.hr {
  width: 3rem;
  border: 2px solid black;
  position: absolute;
  transform-origin: top left;
  top: 7.5rem;
  left: 7.5rem;
  right: 7.5rem;
  bottom: 7.5rem;
}

.center-point {
  position: absolute;
  top: 7rem;
  bottom: 7rem;
  left: 7rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: black;
}
